{% extends "common/base.html" %}
{% load crispy_forms_tags %}


{% block title %}
Complete Storage Allocation
{% endblock %}


{% block content %}
<div class="mb-3">
    <h2>Complete Your Storage Allocation Request</h2>
    <hr>
</div>

<div class="alert alert-info" role="alert">
    Your allocation request for <strong>{{ resource.name }}</strong> has been created.
    Please specify the storage quota to complete your request.
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3>Storage Quota</h3>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Complete Request</button>
            <a class="btn btn-secondary" href="{% url 'allocation-detail' allocation.pk %}" role="button">Back to
                Allocation</a>
        </form>
    </div>
</div>
{% endblock %}